.footer-container {
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-light {
  background-color: #f1f1f1;
  padding: 20px;
  color: #333;
}

.footer-light h3 {
  color: #555;
}

.footer-light p {
  font-size: 14px;
}

.footer-light p.text-center {
  margin-top: 20px;
}

.footer-light a {
  color: #777;
  text-decoration: none;
}

.footer-light a:hover {
  color: #333;
}
